tarea1/target/classes/ec/edu/espol/tarea1/Administrador.class
tarea1/target/classes/ec/edu/espol/tarea1/Soporte.class
tarea1/target/classes/ec/edu/espol/tarea1/Tarea1.class
tarea1/target/classes/ec/edu/espol/tarea1/Usuario.class
tarea1/target/classes/ec/edu/espol/tarea1/Cliente.class
